<!DOCTYPE html>
<html>
<head>
    <title>UCSD Map</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/map_data.js"></script>
    <style>
        .marker-pin {
            width: 30px;
            height: 30px;
            border-radius: 50% 50% 50% 0;
            background: #c30b82;
            position: absolute;
            transform: rotate(-45deg);
            left: 50%;
            top: 50%;
            margin: -15px 0 0 -15px;
        }
    
        .marker-pin::after {
            content: '';
            width: 24px;
            height: 24px;
            margin: 3px 0 0 3px;
            background: #fff;
            position: absolute;
            border-radius: 50%;
        }
    
        .custom-div-icon {
            background: none;
            border: none;
        }
    </style>    
</head>
<body>
    <button id="locateMe" style="position: absolute; top: 10px; right: 10px; z-index: 1000;">Locate Me</button>
    <div id="map" style="width: 100%; height: 100vh;"></div>
    <script>
        var map = L.map('map').setView(mapData.center, 15);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

        var selectedPoints = [];
        var markers = [];
        var path = null;
        var nodeMarkers = [];
        var edgeLines = [];
        var userMarker = null;

        function updateLocation() {
            fetch('/get_location')
                .then(response => response.json())
                .then(data => {
                    if (userMarker) {
                        map.removeLayer(userMarker);
                    }

                    var userIcon = L.divIcon({
                        className: 'custom-div-icon',
                        html: `<div style='background-color:green;' class='marker-pin'></div>`,
                        iconSize: [30, 42],
                        iconAnchor: [15, 42]
                    });
                    
                    userMarker = L.marker([data.lat, data.long], {icon: userIcon}).addTo(map);
                    userMarker.bindPopup("You are here").openPopup();
                    
                    // map.setView([data.lat, data.longitude], 15);
                })
                .catch(error => console.error('Error getting GPS location:', error));
        }
        setInterval(updateLocation, 1000);
        document.getElementById('locateMe').addEventListener('click', updateLocation);

        function onNodeClick(e) {
            if (selectedPoints.length < 2) {
                var markerColor = selectedPoints.length === 0 ? 'green' : 'red';
                var markerIcon = L.divIcon({
                    className: 'custom-div-icon',
                    html: `<div style='background-color:${markerColor};' class='marker-pin'></div>`,
                    iconSize: [30, 42],
                    iconAnchor: [15, 42]
                });
                
                var marker = L.marker(e.target.getLatLng(), {icon: markerIcon}).addTo(map);
                markers.push(marker);
                selectedPoints.push([e.target.getLatLng().lat, e.target.getLatLng().lng]);

                if (selectedPoints.length === 2) {
                    $.ajax({
                        url: '/generate_path',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            start: selectedPoints[0],
                            end: selectedPoints[1]
                        }),
                        success: function(response) {
                            if (path) {
                                map.removeLayer(path);
                            }
                            if (response.path && response.path.length > 0) {
                                path = L.polyline(response.path, {color: 'red', weight: 7}).addTo(map);
                            } else {
                                console.error("No valid path received from server");
                            }
                        }
                    });
                }
            } else {
                selectedPoints = [];
                markers.forEach(function(marker) {
                    map.removeLayer(marker);
                });
                markers = [];
                if (path) {
                    map.removeLayer(path);
                    path = null;
                }
            }
        }

        mapData.nodes.forEach(function(node) {
            var nodeMarker = L.circleMarker([node.lat, node.lng], {
                radius: 5,
                color: 'blue',
                fillColor: 'blue',
                fillOpacity: 0.6
            }).addTo(map);
            
            nodeMarker.on('click', onNodeClick);
            nodeMarkers.push(nodeMarker);
        });

        // mapData.edges.forEach(function(edge) { //show edges
        //     var line = L.polyline([
        //         [edge.start.lat, edge.start.lng],
        //         [edge.end.lat, edge.end.lng]
        //     ], {
        //         color: 'green',
        //         weight: 2,
        //         opacity: 0.5
        //     }).addTo(map);
        //     edgeLines.push(line);
        // });

        // function showUserLocation() {
        //     if ("geolocation" in navigator) {
        //         navigator.geolocation.getCurrentPosition(function(position) {
        //             var lat = position.coords.latitude;
        //             var lng = position.coords.longitude;
                    
        //             var userIcon = L.divIcon({
        //                 className: 'custom-div-icon',
        //                 html: `<div style='background-color:pink;' class='marker-pin'></div>`,
        //                 iconSize: [30, 42],
        //                 iconAnchor: [15, 42],
        //             });
                    
        //             var userMarker = L.marker([lat, lng], {icon: userIcon}).addTo(map);
        //             userMarker.bindPopup("You are here").openPopup();

        //             map.setView([lat, lng], 15);
        //         }, function(error) {
        //             console.error("Error getting user location:", error);
        //         });
        //     } else {
        //         console.error("Geolocation is not supported by this browser.");
        //     }
        // }

    </script>
</body>
</html>